//Aqui se importaran los componentes del proyecto
//Congif
@import "config";

//Layout 
@import  "layout/_grid";
@import  "layout/_header";

//Estilos base
@import "base/_base.scss";
//Modulos
@import "modules/_button.scss";
@import "modules/_cards.scss";
@import "modules/_menu.scss";
@import "modules/_tabs.scss";
@import "modules/_icons.scss";

//Componentes
@import "components/_class.scss";
@import "components/_course.scss";
@import "components/_courses.scss";
@import "components/_login.scss";
@import "components/_question.scss";
@import "components/_user-profile.scss";






