@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&subset=latin-ext");
.main-header{
  background:#c0b3a0;
  color:#fff;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  padding:0 1em;
  height:5rem;
  width:100%;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  font-size:1.2em;
  position:fixed;
  z-index:1;
  top:0; }

*{
  box-sizing:border-box;
  margin:0; }

body{
  font-family:Ubuntu,sans-serif;
  font-size:1em;
  margin-top:10em;
  background:#22252c; }

h1{
  font-size:1.7em; }

h2{
  font-size:1.35em; }

h3{
  font-size:1.15em; }

h1,h2,h3{
  line-height:1.3sem;
  font-weight:300; }

img{
  max-width:100%; }

a{
  text-decoration:none; }

input,label,textarea{
  display:block; }

main{
  padding-bottom:4em; }

.button{
  display:inline-block;
  line-height:1.5em;
  padding:0 1.5em;
  height:2.5em;
  border:0;
  background:#22252c;
  color:#fff; }
  .button.cta{
    background:#f22613;
    color:#fff; }
  .button:hover{
    -webkit-transform:scale(.97);
            transform:scale(.97);
    background:#111; }

[class^=icon-]:before{
  position:relative;
  top:3px;
  margin-right:.5em;
  font-size:1.2em; }

.course-card{
  margin-top:2em;
  margin-left:1em;
  margin-right:1em;
  background:rgba(63,50,80,.3);
  box-shadow:0 5px 8px 0 rgba(0,0,0,.75);
  border-radius:2px; }
  .course-card:hover{
    border-bottom:2px solid #e14658;
    cursor:pointer; }
  .course-card__img{
    width:96%;
    margin:0 auto;
    padding-top:2%;
    padding-bottom:2%;
    display:block;
    height:300px; }
    .course-card__img img{
      width:100%;
      height:100%; }
  .course-card__footer{
    background:#3f3250;
    height:5em;
    width:100%;
    color:#fff;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack:justify;
        -ms-flex-pack:justify;
            justify-content:space-between;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    padding:0 1em; }

.footer{
  width:100%;
  height:200px;
  background:#111; }

.login-page{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  min-height:100vh;
  -webkit-box-pack:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
  background-color:#3f3250; }

.main-home{
  margin-top:-80px; }

.logo{
  width:10.375em;
  display:block;
  font-family:Kaushan Script,cursive;
  font-size:3em;
  margin:0 auto;
  text-align:center;
  color:#fff; }

.login-form{
  width:17.5em;
  margin:2em auto; }
  .login-form__item{
    position:relative;
    margin-bottom:1em; }
  .login-form__input{
    width:100%;
    height:2.5em;
    line-height:1.5em; }
  .login-form__label{
    position:absolute;
    line-height:2.2em;
    left:2%;
    font-size:.9em; }

.reset-password{
  text-align:center;
  color:#fff; }
  .reset-password a{
    color:#f22613; }
