.button{
	display: inline-block;
	line-height: 1.5em;
	padding: 0 1.5em;
	height: 2.5em;
	border:0px;
	background: color(navy);
	color: color(white);
	//Llamada a la acción
	&.cta{
		background: color(rojo);
		color: color(white);
	}
	&:hover{
		transform: scale(.97);
		background: color(black);
	}
}