/* 
  Funciones de listas

  nth($list,index)
  lenght($list)

  join($list1,$list2) -> concatena listas
    usa el separador del primer argumento
    o se puede especificar el separador
    como tercer argumento (comma | space)

  append($list,value,[separator])

  zip($list1,$list2)
    Crea una lista multidimensional con las
    listas pasadas como argumentos

*/
/*De modo en que se separe la primera lista pasada por 
parametro se separá la nueva lista generada por defecto,
Aunque existe un tercer parametro para indicar el modo de
separación: comma o space*/
$colors: red green blue;
$letters: 'a', 'b', 'c';
$colors-letters: zip($colors,$letters);

  .lists {
  $local-colors: append($colors,yellow);
  join: join($colors,$letters,space);
  colors: $local-colors;
  colors-letters: nth(nth($colors-letters,2),2);
}