.main-header{
	background: color(scrub);
	color:color(white);
	display: flex;
	padding: 0 $gutter;
	height: rem(80px);
	width: 100%;
	align-items: center;
	font-size: 1.2em;
	position: fixed;
	z-index: 2;
	top:0;
}