.course-card{
	margin-top: $gutter*2;
	margin-left: $gutter;
	margin-right: $gutter;
	background: color(navy);
	-webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.75);
	border-radius: 2px;
	&:hover{		
		.course-card__img{
			transition: all .1s ease-in;
			border-bottom:4px solid color(coral);
		}
		img{
			transition: all .4s ease-in;
			filter:saturate(3);
		}
	} 
	&__img{
		width: 98%;
		margin:0 auto;
		padding-top:1%;		
		display: block;
		height: 300px;
		img{
			width: 100%;
			height: 100%;
		}
	}
	&__footer{
		background: linear-gradient(left, color(navy), color(mountain));
		height: em(80px);
		width: 100%;
		color: color(white);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 1em;
	}
}
.footer{
	width: 100%;
	height: 200px;
	background: color(black);
}